/* Navbar styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0;
    display: inline-block;
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

/* Dropdown styles */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 100%;
    text-align: center;
}

nav ul ul a {
    padding: 10px 0;
}

/* Adjust styles for mobile view */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        padding: 10px 0;
        width: 100%;
    }

    nav ul ul {
        position: static;
        background-color: transparent;
        display: none;
    }
}
