
body {
    font-family: Arial, sans-serif;
    margin: 0;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #373838;
    color: white;
    overflow: hidden;
    position: absolute; /* Position the footer absolutely */
    bottom: 0; /* Stick it to the bottom of the page */
    width: 100%; /* Full width */
    height: 1%;
    font-size: 69%;
}
